<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>中英文翻译</title>
</head>
<body>
<center>
    <h1>中英文翻译</h1>
    </hr>
    <form action="/show" method="get" style="font-size:18px">
        <<h1 color="red">请输入要翻译的中英文:</h1>
        <input type="text" name="word" />
        <input type="submit" value="翻译">
    </form>
    <div style="margin-top: 50px; float:left;">
        <font style="font-size:18px;float:left;">翻译结果:</font><br/>
        <span style="font-size:16px;float:left;" th:text="${infor}"></span>
    </div>
</center>
</body>
</html>